{{ ansible_managed | comment }}
[Unit]
Description=schema registry
After=network.target

[Service]
PrivateTmp={{ schema_registry_private_tmp }}
User={{ schema_registry_user }}
Group={{ schema_registry_group }}
LimitNOFILE={{ schema_registry_max_files }}

ExecStart={{ schema_registry_bin_path }}/{{ schema_registry_exec_name_start }} {{ schema_registry_config_path }} 
ExecStop={{ schema_registry_bin_path }}/{{ schema_registry_exec_name_stop }}


StandardOutput=append:{{ schema_registry_log_output }}
StandardError=append:{{ schema_registry_log_output }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
